extends /layouts/app.pug

block content

  .container-fluid
    .row.pt-3
      .col.mx-auto
        form(action=urlFor('tasks#index'))
          .form-row
            if isSignedIn()
              +selectFilter(propertyObject, 'creatorId', 'Author', users, currentUserId, 'By me')
            else
              +selectFilter(propertyObject, 'creatorId', 'Author', users, '', 'All')
            if isSignedIn()
              +selectFilter(propertyObject, 'assignedToId', 'Assignee', users, currentUserId, 'By me')
            else
              +selectFilter(propertyObject, 'assignedToId', 'Assignee', users, '', 'All')
            +selectFilter(propertyObject, 'statusId', 'Status', statuses, '', 'All')
            +selectFilter(propertyObject, 'tag', 'Tag', tags, '', 'All')
            .col-md-1
              .form-group
                button.btn.btn-sm.btn-secondary.btn-block(type= 'submit' value='Save') Apply
    
    .row.pt-2
      .col.mx-auto
        table.table.table-striped.table-hover.table-bordered.text-center
          thead.bg-secondary.text-white
            tr
              th #
              th Name
              th Description
              th Status
              th Creator
              th Assign To
              th Created at
              th Updated at
              th Tags
          tbody
            each task in tasks         
              tr
                td= task.id
                td
                  a(href=urlFor('tasks#show', task.id))= task.name
                td= task.description
                td= task.status.name
                td
                  a(href=urlFor('users#show', task.creator.id))= task.creator.fullName
                td
                  a(href=urlFor('users#show', task.assignedTo.id))= task.assignedTo.fullName
                td= formatDate(task.createdAt, 'DD.MM.YYYY, HH:mm')
                td= formatDate(task.updatedAt, 'DD.MM.YYYY, HH:mm')
                td
                  row
                    each tag in tags
                      each item in tag.Tasks
                        if item.id === task.id
                          .d-inline-block
                            span= `${tag.name}, `
