extends /layouts/app.pug

block content
  .container-fluid
    .row.pt-4
      .col-10.mx-auto
        table.table.table-striped.table-hover.table-bordered
          thead.bg-secondary.text-white
            tr
              th #
              th Name
              th Description
              th Status
              th Creator
              th Assign To
              th Created at
              th Updated at
              th Tags
          tbody
            each task in tasks         
              tr
                td= task.id
                td
                  a(href=urlFor('tasks#show', task.id))= task.name
                td= task.description
                td= task.status.name
                td= task.creator.fullName
                td= task.assignedTo.fullName
                td= formatDate(task.createdAt)
                td= formatDate(task.updatedAt)
                td
                  row
                    each tag in tags
                      each item in tag.Tasks
                        if item.id === task.id
                          .d-inline-block
                            span= tag.name
