extends /layouts/app.pug

block content
  .container
    .row.pt-5
      .col-sm-8.mx-auto.bg-light.rounded.p-4
        .row.py-2
          .col-sm-12
            h2= task.name
            p.d-inline Added by:
              a.mx-2(href=urlFor('users#show', task.creator.id))= task.creator.fullName
        .row.py-2
          .col-sm-12
            table.table.border
              tbody
                tr
                  th Status:
                  td= task.status.name
                  th Assign to:
                  td
                    a.mr-2(href=urlFor('users#show', task.assignedTo.id))= task.assignedTo.fullName
                tr
                  th Created at:
                  td= formatDate(task.createdAt, 'DD.MM.YYYY, HH:mm')
                  th Updated at:
                  td= formatDate(task.updatedAt, 'DD.MM.YYYY, HH:mm')

        .row.py-2
          .col-sm-12
            h5 Description:
            p= task.description
        .row.py-2
          .col-sm-12
            h5.d-inline-block Tags:
            each tag in task.Tags
              .d-inline-block
                a(href=urlFor('tasks#index', { query: { 'tag': tag.id } }))= `${tag.name}, `
                //- span= `${tag.name}, `
        if task.creator.id === currentUserId
          .row.py-2
            .col-sm-12.pt-2
              .d-flex.justify-content-around
                a.mr-2(href=urlFor('tasks#edit', task.id)) Edit task
                a.mr-2(href=urlFor('tasks#destroy_form', task.id)) Delete task
