extends /layouts/app.pug

block content
  .container.border
    .row.pt-5
      .col-sm-12.mx-auto.border.bg-secondary.p-3
        .row.py-2
          .col-sm-12
            span dfdfd
        .row.py-2
          .col-sm-6
            span= task.id
          .col-sm-6
            span= status
        .row.py-2
          .col-sm-6
            span= task.creator
          .col-sm-6
            span= task.assignedTo
        .row.py-2
          .col-sm-12
            span= task.description
        .row.py-2
          .col-sm-6
            span= task.createdAt
          .col-sm-6
            span= task.updatedAt
            
