extends /layouts/app.pug

block content
  .container-fluid
    .row.pt-5
      .col-sm-10.mx-auto.bg-light.rounded.p-3
        .row.py-2
          .col-sm-12
            h2= task.name
            p Added by: #{task.creator.fullName}
        .row.py-2
          .col-sm-12
            table.table.border
              tbody
                tr
                  th Status:
                  td= task.status.name
                  th Assign to:
                  td= task.assignedTo.fullName
                tr
                  th Created at:
                  td= formatDate(task.createdAt)
                  th Updated at:
                  td= formatDate(task.updatedAt)

        .row.py-2
          .col-sm-12
            h5 Description:
            p= task.description
        .row.py-2
          .col-sm-12
            h5.d-inline-block Tags:
            each tag in task.Tags
              .d-inline-block
                span= tag.name
        if task.creator.id === getUserId()
          .row.py-2
            .col-sm-12
              .d-inline-block
                a.mr-2(href=urlFor('tasks#edit', task.id)) Edit task
                a.mr-2(href=urlFor('tasks#destroy_form', task.id)) Delete task
